# mise
eval "$(mise activate zsh)"

# Anthropic API
export ANTHROPIC_API_KEY="{{ output "op" "read" "op://Personal/claude-api-key/credential" "--account" "my.1password.com" "--no-newline" | trim }}"

# Linear API
export LINEAR_API_KEY="{{ output "op" "read" "op://Personal/LINEAR_API_KEY/credential" "--account" "my.1password.com" "--no-newline" | trim }}"
